div {
    border-radius: 1000px;
    background-color: #f2f2f2;
    padding: 20px;
}
input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=text]:hover {
    background-color: #45a049;
}
label{
    text-align: left;
}